.cnn-next-element{
    background:#0c0c0c;
    width:100%;
    height:60px;
    font-family:"Helvetica", Arial, sans-serif;
    font-weight:normal;
    line-height:14px !important;
    font-size:14px
}
.cnn-next-element>div{
    width:80%;
    width:calc(100% - 40px);
    padding:20px 10%;
    padding:calc(20px);
    max-width:1100px;
    margin:0px auto
}
.cnn-next-element a{
    text-decoration:none
}
.cnn-next-element.cnn-next-disclaimer{
    background:#b59343;
    color:#fff;
    height:auto
}
.cnn-next-element.cnn-next-disclaimer>div{
    font-size:14px;
    padding:5px 20px;
    position:relative
}
.cnn-next-element.cnn-next-disclaimer>div a{
    color:inherit;
    text-decoration:underline
}
.cnn-next-element.cnn-next-disclaimer>div svg,.cnn-next-element.cnn-next-disclaimer>div img{
    width:auto;
    max-height:2em;
    max-width:5em;
    margin:.5em;
    display:inline-block;
    vertical-align:middle
}
.cnn-next-element.cnn-next-disclaimer>div svg path,.cnn-next-element.cnn-next-disclaimer>div img path{
    fill:#fff
}
.cnn-next-element.cnn-next-disclaimer.nologo>div{
    padding:15px 20px
}
#cnn-next-header>div{
    padding-top:0;
    padding-bottom:0
}
#cnn-next-header>div a *{
    display:inline-block;
    vertical-align:top
}
#cnn-next-header>div a span{
    font-size:12px;
    padding:25px 0 0 10px;
    color:#fff
}
#cnn-next-header>div a span img{
    vertical-align:middle;
    margin-right:10px;
    height:12px;
    margin-top:-2px
}
#cnn-next-footer{
    height:80px
}
#cnn-next-footer>div>*{
    display:inline-block;
    margin:0;
    padding:0
}
#cnn-next-footer>div img{
    height:35px;
    float:left
}
#cnn-next-footer>div p,#cnn-next-footer>div ul{
    width:75%;
    width:calc(100% - 90px);
    max-height:20px;
    text-align:right;
    color:#fff;
    font-size:10px;
    list-style:none
}
#cnn-next-footer>div p a,#cnn-next-footer>div ul a{
    color:#b3b3b3
}
#cnn-next-footer>div p li,#cnn-next-footer>div ul li{
    float:right;
    padding:0 5px;
    margin:0;
    border-right:1px solid #b3b3b3;
    font-size:10px
}
#cnn-next-footer>div p li:first-child,#cnn-next-footer>div ul li:first-child{
    padding-right:0;
    border:none
}
#cnn-next-footer>div p li a,#cnn-next-footer>div ul li a{
    margin:0;
    padding:0
}
@media all{
    #cnn-next-footer>div img{
        width:25%;
        width:calc(90px)
    }
}
@media all and (max-width: 720px){
    .cnn-next-disclaimer{
        height:auto !important
    }
    .cnn-next-disclaimer strong{
        display:none
    }
    .cnn-next-disclaimer span{
        float:none !important
    }
    #cnn-next-footer{
        height:auto
    }
    #cnn-next-footer>div p{
        max-height:none
    }
    #cnn-next-footer>div ul{
        clear:both;
        height:auto;
        width:100%;
        padding:20px 0 0 0;
        max-height:none
    }
    #cnn-next-footer>div ul li{
        width:50%;
        float:left;
        border:none;
        padding:5px 0;
        text-align:left
    }
    #cnn-next-header+.cnn-next-disclaimer{
        height:auto
    }
    #cnn-next-header+.cnn-next-disclaimer strong{
        display:block
    }
    #cnn-next-header+.cnn-next-disclaimer span{
        display:none
    }
}
.froogaloop-wrapper{
    position:relative;
    display:block;
    overflow:hidden
}
.froogaloop-wrapper iframe{
    display:block;
    margin:0
}
.froogaloop-wrapper ul{
    box-sizing:border-box;
    position:absolute;
    bottom:0;
    left:0;
    margin:0;
    width:100%;
    height:40px;
    background:#666;
    text-indent:-99999px;
    -webkit-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%);
    transition:-webkit-transform .5s;
    transition:transform .5s;
    background:#373a3a;
    background:linear-gradient(to bottom, #373a3a 0%, #151818 46%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#373a3a', endColorstr='#151818',GradientType=0 )
}
.froogaloop-wrapper ul li{
    padding:0
}
.froogaloop-wrapper ul .seek{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    background:#555858;
    height:10px;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)
}
.froogaloop-wrapper ul .seek .seeker{
    position:absolute;
    left:0;
    top:0;
    display:block;
    background:#dd0300;
    height:100%
}
.froogaloop-wrapper ul .seek .seeker:after{
    display:block;
    content:'';
    width:4px;
    height:150%;
    position:absolute;
    right:0;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    background:white
}
.froogaloop-wrapper ul li.volume:before,.froogaloop-wrapper ul .fullscreen,.froogaloop-wrapper ul .play-pause,.froogaloop-wrapper ul .rewind{
    display:block;
    content:'';
    width:40px;
    height:40px;
    background:url("data:image/svg+xml;
    charset=utf8,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 354.3 1417.3 708.7' enable-background='new 0 354.3 1417.3 708.7' xml:space='preserve'%3E %3Cpolygon fill='%23FFFFFF' points='113,476 217.4,536 113,596.4 '/%3E %3Cpolygon fill='%23FFFFFF' points='421.7,537.6 455.3,479.6 488.5,537.6 '/%3E %3Crect x='117' y='829.9' fill='%23FFFFFF' width='38.4' height='120.4'/%3E %3Crect x='183' y='829.9' fill='%23FFFFFF' width='38.4' height='120.4'/%3E %3Cg%3E %3Cpath fill='%23FFFFFF' d='M526.1,611.6c-44.8,0-81.6-38-81.6-82h22.8c0,32,26.4,59.2,58.8,59.2s59.2-26.4,59.2-58.8 c0-32.4-26.4-58.4-58.4-58.4v-22.8c44,0,81.2,36.4,81.2,81.2S570.9,611.6,526.1,611.6z'/%3E %3C/g%3E %3Cg%3E %3Cg%3E %3Cg%3E %3Cpolyline fill='%23FFFFFF' points='1307.3,504.9 1307.3,456.9 1259.3,456.9 '/%3E %3Cpolygon fill='%23FFFFFF' points='1315.3,504.9 1299.3,504.9 1299.3,464.9 1259.3,464.9 1259.3,448.9 1315.3,448.9 '/%3E %3C/g%3E %3Cg%3E %3Cpolyline fill='%23FFFFFF' points='1211.3,456.9 1167.4,456.9 1167.4,504.9 '/%3E %3Cpolygon fill='%23FFFFFF' points='1175.4,504.9 1159.4,504.9 1159.4,448.9 1211.3,448.9 1211.3,464.9 1175.4,464.9 '/%3E %3C/g%3E %3Cg%3E %3Cpolyline fill='%23FFFFFF' points='1259.3,596.9 1307.3,596.9 1307.3,548.9 '/%3E %3Cpolygon fill='%23FFFFFF' points='1315.3,604.9 1259.3,604.9 1259.3,588.9 1299.3,588.9 1299.3,548.9 1315.3,548.9 '/%3E %3C/g%3E %3Cg%3E %3Cpolyline fill='%23FFFFFF' points='1167.4,548.9 1167.4,596.9 1211.3,596.9 '/%3E %3Cpolygon fill='%23FFFFFF' points='1211.3,604.9 1159.4,604.9 1159.4,548.9 1175.4,548.9 1175.4,588.9 1211.3,588.9 '/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3Cline fill='none' x1='1169.8' y1='594.5' x2='1301.3' y2='462.9'/%3E %3Crect x='1227.7' y='435.7' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 1735.0276 1776.0557)' fill='%23FFFFFF' width='15.2' height='186'/%3E %3C/g%3E %3Cg%3E %3Cline fill='none' x1='1169.8' y1='462.9' x2='1301.3' y2='594.5'/%3E %3Crect x='1142.6' y='521.1' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 1735.5101 1776.2555)' fill='%23FFFFFF' width='186' height='15.2'/%3E %3C/g%3E %3C/g%3E %3Cg%3E %3Cpolyline fill='%23FFFFFF' points='1218.8,828.6 1218.8,874.2 1173.2,874.2 '/%3E %3Cpolygon fill='%23FFFFFF' points='1226.4,881.8 1173.2,881.8 1173.2,866.6 1211.2,866.6 1211.2,828.6 1226.4,828.6 '/%3E %3C/g%3E %3Cg%3E %3Cline fill='none' x1='1218.8' y1='874.2' x2='1156.4' y2='811.8'/%3E %3Crect x='1143.5' y='835.5' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 1431.4434 2279.0642)' fill='%23FFFFFF' width='88.4' height='15.2'/%3E %3C/g%3E %3Cg%3E %3Cpolyline fill='%23FFFFFF' points='1299.6,873.4 1254,873.4 1254,827.8 '/%3E %3Cpolygon fill='%23FFFFFF' points='1299.6,881 1246.4,881 1246.4,827.8 1261.6,827.8 1261.6,865.8 1299.6,865.8 '/%3E %3C/g%3E %3Cg%3E %3Cline fill='none' x1='1254' y1='873.4' x2='1316.4' y2='811'/%3E %3Crect x='1277.5' y='798.3' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 1598.0521 2346.824)' fill='%23FFFFFF' width='15.2' height='88.4'/%3E %3C/g%3E %3Cg%3E %3Cpolyline fill='%23FFFFFF' points='1254.4,954.2 1254.4,908.6 1300,908.6 '/%3E %3Cpolygon fill='%23FFFFFF' points='1262,954.2 1246.8,954.2 1246.8,901 1300,901 1300,916.2 1262,916.2 '/%3E %3C/g%3E %3Cg%3E %3Cline fill='none' x1='1254.4' y1='908.6' x2='1316.8' y2='971'/%3E %3Crect x='1241.5' y='932.2' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 1530.2928 2513.4331)' fill='%23FFFFFF' width='88.4' height='15.2'/%3E %3C/g%3E %3Cg%3E %3Cpolyline fill='%23FFFFFF' points='1174,909 1219.6,909 1219.6,954.6 '/%3E %3Cpolygon fill='%23FFFFFF' points='1227.2,954.6 1212,954.6 1212,916.6 1174,916.6 1174,901.4 1227.2,901.4 '/%3E %3C/g%3E %3Cg%3E %3Cline fill='none' x1='1219.6' y1='909' x2='1157.2' y2='971.4'/%3E %3Crect x='1180.8' y='896.2' transform='matrix(-0.7071 -0.7071 0.7071 -0.7071 1363.6832 2445.6733)' fill='%23FFFFFF' width='15.2' height='88.4'/%3E %3C/g%3E %3Cg id='g1'%3E %3Cpolygon id='polygon1' fill='%23FFFFFF' points='884.4,462.3 832.1,507.6 782.6,507.6 782.6,565.8 831.3,565.8 884.4,611.8 '/%3E %3Cg id='path1'%3E %3Cpath fill='%23FFFFFF' d='M911.1,574.8c-0.9,0-1.8-0.2-2.6-0.7c-2.3-1.4-3-4.4-1.6-6.7c5.6-9,8.6-19.4,8.6-29.9 c0-10.7-3.1-21.2-8.8-30.3c-1.4-2.3-0.8-5.3,1.5-6.7c2.3-1.4,5.3-0.8,6.7,1.5c6.8,10.7,10.4,23,10.4,35.5 c0,12.4-3.5,24.5-10.1,35.1C914.3,574,912.7,574.8,911.1,574.8z'/%3E %3C/g%3E %3Cg id='path2'%3E %3Cpath fill='%23FFFFFF' d='M932.6,596.3c-1,0-2-0.3-2.9-0.9c-2.2-1.6-2.6-4.6-1-6.8c10.9-14.9,16.7-32.6,16.7-51.1 c0-18.7-5.9-36.5-17-51.5c-1.6-2.2-1.1-5.2,1-6.8c2.2-1.6,5.2-1.1,6.8,1c12.4,16.7,18.9,36.5,18.9,57.3c0,20.6-6.4,40.3-18.6,56.9 C935.5,595.6,934.1,596.3,932.6,596.3z'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E") no-repeat 0 0;
    background-size:160px 80px;
    position:absolute;
    top:0
}
.froogaloop-wrapper ul .play-pause{
    background-position:0 -40px;
    left:0
}
.froogaloop-wrapper ul .play-pause.paused{
    background-position:0 0
}
.froogaloop-wrapper ul .rewind{
    right:40px;
    background-position:-40px 0
}
.froogaloop-wrapper ul .fullscreen{
    right:0;
    background-position:-120px 0
}
.froogaloop-wrapper ul li.volume{
    position:absolute;
    left:80px;
    top:0;
    height:40px;
    width:0;
    max-width:calc(100% - 160px);
    transition:width .5s
}
.froogaloop-wrapper ul li.volume:before{
    left:-40px;
    background-position:-80px 0
}
.froogaloop-wrapper ul li.volume:after,.froogaloop-wrapper ul li.volume .volume{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    height:10px;
    background:#888;
    z-index:2;
    opacity:0;
    transition:opacity .5s;
    border-radius:5px
}
.froogaloop-wrapper ul li.volume:after{
    width:100%;
    z-index:1
}
.froogaloop-wrapper ul li.volume .volume{
    background:#dd0300
}
.froogaloop-wrapper ul li.volume .volume:after{
    display:block;
    content:'';
    width:4px;
    height:150%;
    position:absolute;
    right:0;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    background:white
}
.froogaloop-wrapper ul li.volume:hover{
    width:80px
}
.froogaloop-wrapper ul li.volume:hover:after,.froogaloop-wrapper ul li.volume:hover .volume{
    opacity:1
}
.froogaloop-wrapper:hover ul{
    -webkit-transform:translateY(0%);
    -ms-transform:translateY(0%);
    transform:translateY(0%)
}
.froogaloop-wrapper:-webkit-full-screen{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-webkit-full-screen iframe{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-webkit-full-screen ul{
    -webkit-transform:-webkit-translateY(0%);
    transform:-webkit-translateY(0%);
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-webkit-full-screen ul li.fullscreen{
    background-position:-120px -40px
}
.froogaloop-wrapper:-moz-full-screen{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-moz-full-screen iframe{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-moz-full-screen ul{
    transform:-moz-translateY(0%);
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-moz-full-screen ul li.fullscreen{
    background-position:-120px -40px
}
.froogaloop-wrapper:-ms-fullscreen{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-ms-fullscreen iframe{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-ms-fullscreen ul{
    -ms-transform:-ms-translateY(0%);
    transform:-ms-translateY(0%);
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-ms-fullscreen ul li.fullscreen{
    background-position:-120px -40px
}
.froogaloop-wrapper:-webkit-full-screen{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-moz-full-screen{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-ms-fullscreen{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:fullscreen{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-webkit-full-screen iframe{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-moz-full-screen iframe{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-ms-fullscreen iframe{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:fullscreen iframe{
    width:100%;
    height:100%;
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-webkit-full-screen ul{
    -webkit-transform:translateY(0%);
    transform:translateY(0%);
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-moz-full-screen ul{
    transform:translateY(0%);
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-ms-fullscreen ul{
    -ms-transform:translateY(0%);
    transform:translateY(0%);
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:fullscreen ul{
    -webkit-transform:translateY(0%);
    -ms-transform:translateY(0%);
    transform:translateY(0%);
    opacity:1 !important;
    z-index:10 !important
}
.froogaloop-wrapper:-webkit-full-screen ul li.fullscreen{
    background-position:-120px -40px
}
.froogaloop-wrapper:-moz-full-screen ul li.fullscreen{
    background-position:-120px -40px
}
.froogaloop-wrapper:-ms-fullscreen ul li.fullscreen{
    background-position:-120px -40px
}
.froogaloop-wrapper:fullscreen ul li.fullscreen{
    background-position:-120px -40px
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline
}
html{
    line-height:1
}
ol,ul{
    list-style:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}
caption,th,td{
    text-align:left;
    font-weight:normal;
    vertical-align:middle
}
q,blockquote{
    quotes:none
}
q:before,q:after,blockquote:before,blockquote:after{
    content:"";
    content:none
}
a img{
    border:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
html{
    font-size:16px
}
html,body{
    height:100%
}
body>img{
    display:none
}
section,h1,h2{
    box-sizing:border-box;
    margin:0px auto;
    width:100%;
    max-width:1180px;
    padding:40px;
    padding-top:0
}
footer{
    clear:both
}
h1,h2{
    letter-spacing:.02em;
    padding:20px 40px
}
h1{
    font-size:35px;
    font-size:2.1875rem;
    line-height:35px;
    line-height:2.1875rem
}
h2{
    font-size:20px;
    font-size:1.25rem;
    line-height:20px;
    line-height:1.25rem;
    padding-top:10px
}
h3,h4,h5{
    font-weight:400
}
h3{
    font-size:25px;
    font-size:1.5625rem;
    line-height:25px;
    line-height:1.5625rem;
    font-weight:200
}
h4{
    width:100%;
    font-weight:600;
    box-sizing:border-box;
    padding:10px;
    background:#ececec;
    margin-bottom:26.66667px;
    clear:both
}
@-webkit-keyframes show-back-to-home{
    0%{
        max-width:1em
    }
    20%{
        max-width:100vw
    }
    80%{
        max-width:100vw
    }
    100%{
        max-width:1em
    }
}
@keyframes show-back-to-home{
    0%{
        max-width:1em
    }
    20%{
        max-width:100vw
    }
    80%{
        max-width:100vw
    }
    100%{
        max-width:1em
    }
}
.back-to-home{
    float:right;
    padding:.5em 1em;
    background:#fff;
    background:#907535;
    position:absolute;
    top:50%;
    right:20px;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    border-radius:.2em;
    color:#fff;
    background-image:url("data:image/svg+xml;
    charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='40px' height='40x' viewBox='0 0 20 20'%3E%3Cpolyline points='7,5 13,10 7,15' stroke='%23fff' stroke-width='1' fill='transparent' /%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:100% 50%;
    background-position:right 5px top 50%;
    background-size:auto 80%;
    padding-right:30px
}
@media all and (max-width: 600px){
    .back-to-home{
        position:relative;
        top:auto;
        right:auto;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none;
        float:left;
        width:3em;
        color:transparent !important;
        padding:0;
        vertical-align:middle;
        background-image:url("data:image/svg+xml;
        charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='40px' height='40x' viewBox='0 0 20 20'%3E%3Cpolyline points='13,5 7,10 13,15' stroke='%23fff' stroke-width='1' fill='transparent' /%3E%3C/svg%3E");
        background-color:transparent
    }
}
article{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    min-height:calc(100% - 240px)
}
article>header{
    background:#000;
    color:#fff;
    overflow:hidden;
    position:relative
}
article>header img,article>header video{
    min-width:100%;
    min-height:200px;
    position:relative;
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%)
}
article>header>div{
    width:100%;
    max-height:50vh;
    overflow:hidden
}
article>section{
    position:relative
}
article header,article section,article p,article aside,article ul,article h3,article h5,article div.froogaloop,article iframe,article blockquote{
    margin-bottom:40px
}
article p{
    font-size:16px;
    font-size:1rem;
    line-height:22px;
    line-height:1.375rem;
    line-height:2em
}
article img{
    max-width:100%
}
article .byline{
    margin-bottom:0
}
article .byline img,article .byline svg{
    display:inline-block;
    vertical-align:middle;
    max-width:7em;
    max-height:3em;
    margin-right:.3em
}
article .date{
    font-weight:200;
    color:#666
}
article .date:before{
    font-size:1.3em;
    content:'\25F7';
    font-weight:100
}
article .socials{
    width:auto;
    float:right;
    text-align:right;
    z-index:5;
    max-width:30%
}
article .socials a{
    position:relative;
    display:inline-block;
    width:40px;
    height:40px;
    border-radius:50%;
    background:#ccc;
    margin-bottom:10px;
    margin-left:10px;
    text-indent:-99999px;
    color:transparent;
    -webkit-transform:scale(0.9, 0.9);
    -ms-transform:scale(0.9, 0.9);
    transform:scale(0.9, 0.9);
    transition:-webkit-transform 400ms;
    transition:transform 400ms
}
article .socials a:after{
    content:'';
    width:60%;
    height:60%;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%)
}
article .socials a:hover{
    -webkit-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    transform:scale(1, 1)
}
article .socials a[data-share="facebook"]{
    background:#305C99
}
article .socials a[data-share="facebook"]:after{
    background-image:url("data:image/svg+xml;
    charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='113.6px' height='218.8px' viewBox='57.7 27.5 113.6 218.8'%3E%3Cpath fill='%23fff' d='M131.4,246.3v-99.8h33.5l5-38.9h-38.5V82.8c0-11.3,3.1-18.9,19.3-18.9l20.6,0V29 c-3.6-0.5-15.8-1.5-30-1.5c-29.7,0-50,18.1-50,51.4v28.7H57.7v38.9h33.6v99.8H131.4z'/%3E%3C/svg%3E")
}
article .socials a[data-share="twitter"]{
    background:#00abec
}
article .socials a[data-share="twitter"]:after{
    background-image:url("data:image/svg+xml;
    charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='148.12' width='182.26' version='1.1' viewBox='0 0 182.66667 150.66667'%3E%3Cpath fill='%23fff' d='M180.7,18.4c-6.6,2.9-13.7,4.9-21.1,5.8c7.6-4.6,13.4-11.8,16.2-20.3c-7.1,4.2-15,7.3-23.3,8.9 c-6.7-7.1-16.3-11.6-26.8-11.6c-20.3,0-36.8,16.5-36.8,36.8c0,2.9,0.3,5.7,1,8.4C59.2,44.8,32.2,30.2,14,7.9c-3.2,5.4-5,11.7-5,18.5 c0,12.8,6.5,24,16.4,30.6c-6-0.2-11.7-1.8-16.7-4.6c0,0.2,0,0.3,0,0.5c0,17.8,12.7,32.7,29.5,36c-3.1,0.8-6.3,1.3-9.7,1.3 c-2.4,0-4.7-0.2-6.9-0.7c4.7,14.6,18.3,25.2,34.3,25.5c-12.6,9.9-28.4,15.7-45.7,15.7c-3,0-5.9-0.2-8.8-0.5 c16.3,10.4,35.6,16.5,56.4,16.5c67.6,0,104.6-56,104.6-104.6c0-1.6,0-3.2-0.1-4.8C169.6,32.3,175.8,25.8,180.7,18.4'/%3E%3C/svg%3E")
}
article .socials a[data-share="email"]{
    background:#76c155
}
article .socials a[data-share="email"]:after{
    background-image:url("data:image/svg+xml;
    charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='23.7px' height='15.6px' viewBox='0 0 23.7 15.6'%3E%3Cg%3E%3Cpath fill='%23fff' d='M23.7,2.7c0-0.7-0.3-1.3-0.7-1.7l-5.6,3.8l5.5,10c0.4-0.5,0.7-1.1,0.7-1.8V2.7z'/%3E%3Cpath fill='%23fff' d='M11.5,7.6l10.7-7.3C21.9,0.1,21.5,0,21,0H2.7C2,0,1.4,0.2,1,0.6L11.5,7.6z'/%3E%3Cpath fill='%23fff' d='M0.3,1.4C0.1,1.8,0,2.2,0,2.7v10.3c0,1,0.5,1.8,1.3,2.3L7.2,6L0.3,1.4z'/%3E%3Cpath fill='%23fff' d='M16.6,5.3l-5.2,3.5L8.1,6.6l-5.8,9c0.1,0,0.3,0,0.4,0H21c0.4,0,0.8-0.1,1.2-0.3L16.6,5.3z'/%3E%3C/g%3E%3C/svg%3E")
}
article .socials a[data-share="linkedin"]{
    background:#0077b5
}
article .socials a[data-share="linkedin"]:after{
    background-image:url("data:image/svg+xml;
    charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='53.4px' height='51px' viewBox='0 0 53.4 51'%3E%3Cpath fill='%23fff' d='M12.1,51V16.6H0.7V51H12.1z M6.4,11.9c4,0,6.5-2.6,6.5-5.9 C12.8,2.6,10.4,0,6.5,0C2.6,0,0,2.6,0,5.9C0,9.3,2.5,11.9,6.4,11.9L6.4,11.9L6.4,11.9z'/%3E%3Cpath fill='%23fff' d='M18.5,51h11.4V31.8c0-1,0.1-2.1,0.4-2.8 c0.8-2.1,2.7-4.2,5.9-4.2c4.1,0,5.8,3.2,5.8,7.8V51h11.4V31.3c0-10.6-5.6-15.5-13.2-15.5c-6.2,0-8.9,3.5-10.4,5.8h0.1v-5H18.5 C18.6,19.8,18.5,51,18.5,51L18.5,51z'/%3E%3C/svg%3E");
    background-size:auto 70%
}
article .socials a[data-share="youtube"]{
    background:#bb0000
}
article .socials a[data-share="youtube"]:after{
    background-image:url("data:image/svg+xml;
    charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='1021.4px' height='718.4px' viewBox='0 0 1021.4 718.4'%3E%3Cpath opacity='0.12' fill-rule='evenodd' clip-rule='evenodd' d='M405.2,204.7l242,161.6l34-17.6L405.2,204.7 z'/%3E%3Cpath fill='%23fff' d='M1011.2,155c0,0-10-70.4-40.6-101.4c-38.8-40.7-82.4-40.9-102.3-43.3C725.4,0,510.9,0,510.9,0h-0.4 c0,0-214.4,0-357.4,10.3c-20,2.4-63.5,2.6-102.3,43.3C20.2,84.6,10.2,155,10.2,155S0,237.6,0,320.3v77.5 c0,82.7,10.2,165.3,10.2,165.3s10,70.4,40.6,101.4c38.9,40.7,89.9,39.4,112.6,43.7c81.7,7.8,347.3,10.3,347.3,10.3 s214.6-0.3,357.6-10.7c20-2.4,63.5-2.6,102.3-43.3c30.6-31,40.6-101.4,40.6-101.4s10.2-82.7,10.2-165.3v-77.5 C1021.4,237.6,1011.2,155,1011.2,155z M405.3,491.7l0-287l276,144L405.3,491.7z'/%3E%3C/svg%3E");
    background-size:auto 70%
}
article a{
    color:#0f628d;
    text-decoration:none
}
article a.cta,article a.button{
    display:block;
    clear:both;
    font-size:1.5rem;
    position:relative;
    box-sizing:border-box;
    padding:20px;
    padding-left:140px;
    padding-right:40px;
    border:1px solid #ccc
}
article a.cta img,article a.cta:after,article a.button img,article a.button:after{
    position:absolute;
    left:10px;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    width:100px;
    float:left
}
article a.cta:after,article a.button:after{
    content:'';
    left:auto;
    right:10px;
    display:block;
    width:40px;
    height:40px;
    background:url('data:image/svg+xml;
    utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" viewBox="0 0 5 5"><path d="M1 1 L4 2.5 L1 4" stroke="#666" stroke-width=".2" stroke-linecap="round" fill="transparent" /></svg>') no-repeat 50% 50%;
    background-size:20px 40px
}
article a.button{
    padding-left:40px
}
article strong{
    font-weight:400
}
article em{
    font-style:italic
}
aside{
    width:100%;
    position:relative;
    text-align:center
}
aside img{
    max-width:100%;
    width:100%;
    opacity:1;
    transition:opacity .5s;
    border:1px solid #ccc
}
aside img.fadein{
    opacity:0
}
aside p{
    font-size:14px;
    font-size:.875rem;
    line-height:16px;
    line-height:1rem;
    padding:20px 0;
    margin:0;
    border-bottom:1px solid #000
}
aside ul{
    padding-top:0
}
aside ul:last-child{
    margin-bottom:0
}
aside.left,aside.right{
    max-width:50%;
    width:auto;
    clear:both
}
aside.left img,aside.right img{
    width:auto
}
aside.left{
    float:left;
    margin-right:40px
}
aside.right{
    float:right;
    margin-left:40px
}
aside.middle img{
    width:auto
}
@media all and (max-width: 600px){
    aside.left,aside.right{
        float:none;
        width:100%;
        max-width:none;
        margin:0 0 40px 0
    }
}
aside .next,aside .prev{
    display:block;
    position:absolute;
    top:0;
    height:100%
}
aside .next svg,aside .next img,aside .prev svg,aside .prev img{
    max-height:60px;
    position:relative;
    top:50%;
    -webkit-transform:translateY(-70%);
    -ms-transform:translateY(-70%);
    transform:translateY(-70%)
}
aside .next svg *[stroke],aside .next img *[stroke],aside .prev svg *[stroke],aside .prev img *[stroke]{
    stroke:#fff
}
aside .next{
    right:0
}
aside .prev{
    left:0
}
aside:after{
    content:'';
    display:block;
    width:100%;
    clear:both
}
ul,ol{
    padding-left:20px;
    padding-top:20px;
    list-style:initial
}
ul li,ol li{
    padding:0 0 20px 0
}
ul.gallery,ul.articles{
    padding:0;
    list-style:none
}
ul.gallery li,ul.articles li{
    padding:0
}
ul.gallery{
    font-size:0
}
ul.gallery li{
    width:40px;
    height:40px;
    overflow:hidden;
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
    opacity:.8;
    transition:opacity .2s;
    cursor:pointer
}
@media all and (max-width: 600px){
    ul.gallery li{
        width:60px;
        height:60px
    }
}
ul.gallery li img{
    min-width:100%;
    min-height:100%;
    max-width:200%;
    max-height:200%;
    transition:-webkit-filter .2s, filter .2s;
    -webkit-filter:grayscale(70%);
    filter:grayscale(70%)
}
ul.gallery li:hover,ul.gallery li:active,ul.gallery li.active{
    opacity:1
}
ul.gallery li:hover img,ul.gallery li:active img,ul.gallery li.active img{
    -webkit-filter:grayscale(0%);
    filter:grayscale(0%)
}
ul.articles{
    width:100%
}
ul.articles a,ul.articles img,ul.articles h4,ul.articles span{
    display:block;
    width:100%;
    text-decoration:none;
    margin-bottom:10px
}
ul.articles span{
    font-size:16px;
    font-size:1rem;
    line-height:22px;
    line-height:1.375rem
}
ul.articles li{
    float:left;
    width:20%;
    margin-left:5%;
    width:calc((100% - 80px) / 4);
    margin-left:calc(26.66667px)
}
ul.articles li:nth-child(5n),ul.articles li:nth-child(1){
    clear:both;
    margin-left:0
}
@media all and (max-width: 600px){
    ul.articles li{
        width:calc((100% - 20px) / 2);
        margin-left:calc(20px)
    }
    ul.articles li:nth-child(odd){
        clear:both;
        margin-left:0
    }
}
ul.articles:after{
    content:'';
    display:block;
    width:100%;
    clear:both
}
blockquote{
    box-sizing:border-box;
    padding:40px;
    padding-left:100px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    background:url("data:image/svg+xml;
    charset=utf8,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 52.3 46.7' enable-background='new 0 0 52.3 46.7' xml:space='preserve'%3E %3Cg%3E %3Cpath fill='%23B3B3B3' d='M1.1,45.9V24.3c-0.1-3.1,0.4-6,1.3-8.7c1-2.7,2.4-5.1,4.2-7.2c1.8-2.1,3.9-3.8,6.4-5.1 c2.5-1.4,5.2-2.2,8.1-2.6V10c-3.6,1.2-6,3-7.3,5.4c-1.3,2.4-2,5.3-2,8.8h9.3v21.7H1.1z M31.1,45.9V24.3c-0.1-3.1,0.4-6,1.3-8.7 c1-2.7,2.4-5.1,4.2-7.2c1.8-2.1,3.9-3.8,6.4-5.1c2.5-1.4,5.2-2.2,8.1-2.6V10c-3.6,1.2-6,3-7.3,5.4c-1.3,2.4-2,5.3-2,8.8h9.3v21.7 H31.1z'/%3E %3C/g%3E %3C/svg%3E") no-repeat 0 40px;
    background-size:60px;
    font-size:35px;
    font-size:2.1875rem;
    line-height:35px;
    line-height:2.1875rem
}
blockquote:after{
    content:'"'
}
table{
    width:100%;
    border-left:1px solid #cecece;
    border-top:1px solid #cecece;
    margin-bottom:40px
}
table td,table th{
    padding:10px;
    border-right:1px solid #cecece;
    border-bottom:1px solid #cecece
}
table th{
    font-weight:bold
}
.table{
    width:100%;
    overflow:auto;
    margin-bottom:40px
}
.table table,.table .caption{
    margin-bottom:0
}
.table .caption{
    font-size:80%;
    margin-top:10px
}
#overview-zone{
    position:relative;
    overflow:hidden
}
#overview-zone header{
    background:transparent;
    color:#000;
    margin:0;
    padding:0
}
#overview-zone header h1{
    padding-bottom:0
}
#overview-zone section{
    padding:0 40px;
    margin:0 auto
}
#overview-zone section .date{
    margin:0
}
#overview-zone section p:last-child{
    margin-bottom:0
}
#overview-zone section:after{
    content:'';
    width:100%;
    clear:both;
    display:block
}
#overview-zone div.background{
    z-index:-1
}
#overview-zone div.background img{
    width:100%
}
#overview-zone div.background,#overview-zone div.background:after{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:auto
}
#overview-zone div.background:after{
    content:'';
    display:block;
    height:100%;
    background:linear-gradient(transparent, #fff)
}
#overview-zone div.background.empty{
    background:#cecece;
    min-height:400px;
    min-height:60vh
}
#overview-zone ul{
    max-width:1180px;
    margin:0 auto;
    padding:20px;
    list-style:none;
    box-sizing:border-box
}
#overview-zone ul:after{
    content:'';
    display:block;
    width:100%;
    clear:both
}
#overview-zone li{
    padding:0;
    position:relative;
    width:30%;
    width:calc((100% - 120px) / 3);
    margin:20px;
    height:200px;
    float:left;
    background:white;
    overflow:hidden;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50% 50%;
    cursor:pointer
}
#overview-zone li a{
    position:relative;
    display:block;
    width:100%;
    height:100%
}
@media all and (max-width: 600px){
    #overview-zone li{
        width:100%;
        width:calc((100% - 40px))
    }
}
#overview-zone li h3{
    position:absolute;
    left:0;
    bottom:0;
    padding:10px 20px;
    margin:0;
    width:100%;
    font-size:1rem;
    color:#fff;
    background:#00abec;
    background:#000;
    background:rgba(0,0,0,0.7);
    transition:padding-bottom 400ms;
    box-sizing:border-box
}
#overview-zone li:hover h3{
    padding-bottom:40px
}
#overview-zone .featured li{
    width:calc((100% - 80px) / 2);
    height:400px
}
#overview-zone .featured li:last-child:first-child{
    width:calc((100% - 40px))
}
@media all and (max-width: 600px){
    #overview-zone .featured li{
        width:calc((100% - 40px))
    }
}
.callout{
    background:#ececec;
    padding:40px;
    max-width:100%;
    overflow:auto;
    box-sizing:border-box
}
.callout .sponsor-logo{
    float:right;
    max-width:30%;
    min-width:100px;
    margin-left:40px;
    margin-bottom:40px;
    position:relative
}
@media all and (min-width: 601px){
    .callout .sponsor-logo{
        min-width:250px;
        max-width:50%
    }
}
.callout .sponsor-logo a{
    display:block;
    position:absolute;
    top:0;
    height:100%;
    width:50%;
    color:transparent
}
@media all and (max-width: 600px){
    .callout .sponsor-logo{
        max-width:none;
        width:100%;
        clear:none;
        margin-left:0
    }
}
.callout .button{
    font-size:inherit
}
.callout table,.callout table td,.callout table th{
    border-color:#fff
}
aside.callout{
    text-align:left
}
